.pomodoro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 90%;
    margin: 50px auto;
    background: white;
    background-color: #89cff0;
}

.time-display {
    font-size: 6rem;
    font-weight: 700;
    margin: 10px 0 30px;
    color: var(--color-primary);
}

.session-display button {
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 15px;
    background-color:#eee;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.session-display button.active {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls button {
    min-width: 120px;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.start-button {
    background-color: var(--color-primary);
    color: white;
}

.pause-button {
    background-color: orange;
    color: white;
}

.reset-button {
    background-color: #95a5a6;
    color: white;
}

.status-text {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .pomodoro-container {
        margin: 20px 10px;
        padding: 20px 10px;
    }

    .time-display {
        font-size: 4rem;
    }

    .controls button {
        min-width: 90%;
        margin: 5px 0;
    }

    .session-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .session-display button {
        margin: 5px;
        flex-grow: 1;
    }
}

.pomodoro-container.work-mode {
    border: 4px solid var(--color-primary);
}

.work-mode .time-display {
    color: var(--color-primary);
}

.pomodoro-container.break-mode {
    border: 4px solid var(--color-break);
}

.break-mode .time-display {
    color: var(--color-break);
}

.break-mode .start-button {
    background-color: var(--color-break);
}